{% extends 'sports/base.html' %}
{% block content %}
{% for staff in staffs %}
    {% if user == staff.user %}
        <a
            class="btn btn-outline btn-block btn-lg mt-1 mb-3"
            href="{% url 'slots-create' %}"
            >Add New Slot</a
        >
    {% endif %}
{% endfor %}
{% if user.is_superuser %}
    <a
            class="btn btn-outline btn-block btn-lg mt-1 mb-3 "
            href="{% url 'slots-create' %}"
            >Add New Slot</a
    >
{% endif %}
<h2 class=" green-col article-title sport-title centre-text mb-3">Booked Slots</h2>
{% for slot in booked_slots.slots.all %}
    {% if slot.date == today %}
    <article class="media content-section shadow-box">
        <div class="media-body">
            <div class="article-metadata sport-title-div">
                <h2><a class="article-title sport-title" href="{% url 'slots-detail' slot.id %}">Slot : {{slot.id}}</h2>
            </div>
            <div class=" mx-4 my-4">
                <table class="table table-hover border rounded">
                    <tbody>
                    <tr>
                        <th scope="row" class='centre-text'><h5 class="centre-text side-header mb-2">Court</h5></th>
                        <td class='centre-text px-4'>
                            <a class="small-text small-a" href="{% url 'courts-detail' slot.court.id %}">{{ slot.court.name }}</a>
                        </td>
                    
                    </tr>
                    <tr>
                        <th scope="row" class='centre-text'><h5 class="centre-text side-header mb-2">Sport</h5></th>
                        <td class='centre-text px-4'>
                            <a class="small-text small-a" href="{% url 'sports-detail' slot.sport.id %}">{{ slot.sport.name }}</a>
                        </td>
                
                    </tr>
                    <tr>
                        <th scope="row" class='centre-text'><h5 class="centre-text side-header mb-2">Date</h5></th>
                        <td class='centre-text px-4'>
                            <a class="small-text small-a" href="#">{{ slot.date }}</a>
                        </td>
                
                    </tr>
                    <tr>
                        <th scope="row" class='centre-text'><h5 class="centre-text side-header mb-2">Start Time</h5></th>
                        <td class='centre-text px-4'>
                            <a class="small-text small-a" href="#">{{ slot.start_time }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class='centre-text'><h5 class="centre-text side-header mb-2">End Time</h5></th>
                        <td class='centre-text px-4'>
                            <a class="small-text small-a" href="#">{{ slot.end_time }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </article>
    {% endif %}
{% endfor %}
{% endblock content %}
