{% extends "sports/base1.html" %}
{% block content %}
{#home#}
    <section id="banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 home-left-div">
                  <div class="pl-4">
                      <p class="home-title">EXPLORE <br><span style="color:#f25d50">FEATURED</span> MATCHES</p>
                      <p class="home-text">And <span style="color:#13b9fd">Trending</span> Sports!</p>
                      <div class="row">
                          <div class="col-md-6">
                              <a href="{% url 'slots-home' %}" class="btn btn-outline btn-lg btn-block active move" role="button" aria-pressed="true">Book Your Slot Now</a>
                          </div>
                          <div class="col-md-6">
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col-md-6 home-right-div">
                    <div class="image-box">
                        {% comment %} <img src="media/ball1.png" alt="ball" class="back-img"> {% endcomment %}
                        <img src="media/badmintonf.png" alt="badminton" class="main-img">
                    </div>
                </div>
            </div>
        </div>
    </section>


{% comment %} new-trending sport {% endcomment %}
    <div class="container-fluid">
      <div class="info_head">
        <h2 class="trending-head">Explore Trending Sports!</h2>
      </div>
      <div class="row">
        <div class="col-sm-6">
              <div class="pl-4 random ">
                <div class="shadow-lg card featured-card mb-4">
                  <div class="card-body">

                      <h5 class="card-title py-2 trending-head2 orange-col">Trending Sport : {{ trending_sport }}</h5>
                    <p class="card-text card-para py-3 px-3">With supporting text below as a natural lead-in to additional content.text below as a natural lead-in to additional content.text below as a natural lead-in to additional content.</p>
                    <a href="{% url 'sports-detail' trending_sport.id %}" class="btn btn-outline btn-lg ">Explore Now!</a>
                  </div>
                </div>
              </div>
            </div>
        <div class="col-sm-6">
          <div class="pr-4 random ">
            <div class="shadow-lg card featured-card mb-4">
              <div class="card-body">
                <h5 class="card-title py-2 trending-head2">Most Rated Court : {{ rated_court }}</h5>
                <p class="card-text card-para py-3 px-3">With supporting text below as a natural lead-in to additional content.text below as a natural lead-in to additional content.text below as a natural lead-in to additional content.</p>
                <a href="{% url 'courts-detail' rated_court.id %}" class="btn btn-outline btn-lg">Explore Now!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>










{#    Featured matches#}
            <div class="container-fluid">
                <div class="info_head">
                    <h2 class='featured-head'>FEATURED MATCHES</h2>
                </div>
                <div class="scrollmenu">
                    {% for match in matches %}

                      <div class="col-sm-5 random ">
                        <div class="shadow-lg card featured-card mb-4">
                          <div class="card-body">
                            <h5 class="card-title py-2">{{ match.title }}</h5>
                            <p class="card-text card-para py-3 px-3">{{ match.description }}</p>
                            <a href="#" class="btn btn-outline btn-lg">Read More</a>
                            {% for staff in staffs %}
                              {% if user == staff.user %}
                              <div class="row">
                                <div class="col-md-6">
                                  <a
                                    class="btn btn-outline btn-block btn-sm mt-3 mb-1"
                                    href="{% url 'match-update' match.id %}"
                                    >Update</a
                                  >
                                </div>
                                 <div class="col-md-6">
                                  <a
                                    class="btn btn-outline btn-sm btn-block mt-3 mb-1"
                                    href="{% url 'match-delete' match.id %}"
                                    >Delete</a
                                  >
                                 </div>
                                </div>
                              {% endif %}
                          {% endfor %}
                          {% if user.is_superuser %}
                          <div class="row">
                                <div class="col-md-6">
                                  <a
                                    class="btn btn-outline btn-block btn-sm mt-3 mb-1"
                                    href="{% url 'match-update' match.id %}"
                                    >Update</a
                                  >
                                </div>
                                 <div class="col-md-6">
                                  <a
                                    class="btn btn-outline btn-sm btn-block mt-3 mb-1"
                                    href="{% url 'match-delete' match.id %}"
                                    >Delete</a
                                  >
                                 </div>
                                </div>
                          {% endif %}
                          </div>
                        </div>
                      </div>
                    {% endfor %}      
                </div>
            </div>

{% endblock content %}