{% extends 'sports/base.html' %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <h2 class="article-title sport-detail-title">Slot : {{slot.id}}</h2>
        </div>
        <div class=" mx-4 my-4">
          <table class="table table-hover border rounded">
              <tbody>
              <tr>
                  <th scope="row" class='centre-text'><h5 class="centre-text side-header mb-2">Court</h5></th>
                  <td class='centre-text px-4'>
                      <a class="small-text small-a" href="{% url 'courts-detail' slot.court.id %}">{{ slot.court.name }}</a>
                  </td>
              
              </tr>
              <tr>
                  <th scope="row" class='centre-text'><h5 class="centre-text side-header mb-2">Sport</h5></th>
                  <td class='centre-text px-4'>
                      <a class="small-text small-a" href="{% url 'sports-detail' slot.sport.id %}">{{ slot.sport.name }}</a>
                  </td>
          
              </tr>
              <tr>
                  <th scope="row" class='centre-text'><h5 class="centre-text side-header mb-2">Date</h5></th>
                  <td class='centre-text px-4'>
                      <a class="small-text small-a" href="#">{{ slot.date }}</a>
                  </td>
          
              </tr>
              <tr>
                  <th scope="row" class='centre-text'><h5 class="centre-text side-header mb-2">Start Time</h5></th>
                  <td class='centre-text px-4'>
                      <a class="small-text small-a" href="#">{{ slot.start_time }}</a>
                  </td>
              </tr>
              <tr>
                  <th scope="row" class='centre-text'><h5 class="centre-text side-header mb-2">End Time</h5></th>
                  <td class='centre-text px-4'>
                      <a class="small-text small-a" href="#">{{ slot.end_time }}</a>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="px-4">
        <form action="{%url 'add_slot' slot.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline btn-block btn-lg mt-1 mb-3">Book Now</button>
        </form>
    </div>
      <div class="px-4">
            {% for staff in staffs %}
                {% if user == staff.user %}
                     <div class="row">
                        <div class="col-md-6">
                          <a
                            class="btn btn-outline btn-block btn-sm mt-2 mb-1"
                            href="{% url 'slots-update' slot.id %}"
                            >Update</a
                          >
                        </div>
                         <div class="col-md-6">
                          <a
                            class="btn btn-danger btn-sm btn-block mt-2 mb-1 delete"
                            href="{% url 'slots-delete' slot.id %}"
                            >Delete</a
                          >
                         </div>
                        </div>
                {% endif %}
            {% endfor %}
            {% if user.is_superuser %}
            <div class="row">
                <div class="col-md-6">
                  <a
                    class="btn btn-outline btn-block btn-sm mt-2 mb-1"
                    href="{% url 'slots-update' slot.id %}"
                    >Update</a
                  >
                </div>
                 <div class="col-md-6">
                  <a
                    class="btn btn-danger btn-sm btn-block mt-2 mb-1 delete"
                    href="{% url 'slots-delete' slot.id %}"
                    >Delete</a
                  >
                 </div>
                </div>
            {% endif %}
          </div>
        </div>
    </article>
{% endblock content %}
