{% extends 'sports/base.html' %}
{% block content %}
{% for staff in staffs %}
    {% if user == staff.user %}
        <a
            class="btn btn-outline btn-block btn-lg mt-1 mb-3"
            href="{% url 'courts-create' %}"
            >Add New Court</a
        >
    {% endif %}
{% endfor %}
{% if user.is_superuser %}
    <a
            class="btn btn-outline btn-block btn-lg mt-1 mb-3"
            href="{% url 'courts-create' %}"
            >Add New Court</a
    >
{% endif %}
{% for court in courts %}
    <article class="media content-section shadow-box">
        <div class="media-body">
            <div class="article-metadata sport-title-div">
                <h2><a class="article-title sport-title" href="{% url 'courts-detail' court.id %}">{{ court.name }}</a></h2>
            </div>
            <p class="sports-article-content">Court Capacity : {{ court.capacity }}</p>
            <p class="sports-article-content">Est dolore velit qui reiciendis eius aut porro maxime et voluptate doloribus sed voluptatem pariatur. Est tenetur illo est asperiores facere et perferendis incidunt est commodi quas?</p>
        </div>

    </article>
{% endfor %}

{% endblock content %}
